.form-spacing-top{
	margin-top: 30px;
}

.comment{
	margin-bottom: 45px;
}

.author-image{
	width:	50px;
	height: 50px;
	border-radius: 50%; 
	float: left;
}

.author-name{
	float: left;
	margin-left: 15px;
}

.author-name>h4{
	margin:	5px 0px;
	
}
.author-time{
	font-size: 11px;
	font-style: italic;
	color: #aaa;
}
.author-image{
	
}
.comment-content{
	clear: both;
	margin-left: 65px;
	font-size: 18px;
	line-height: 1.3em;
}
.comment-title{
	margin-bottom: 45px;
}
.comment-title>span{
	margin-right: 15px;
	margin-left: 10px;
}
.label{
	background-color:blue;
	color: white;
	padding: 8px;
}